# ======================
# Arquivo de exemplo
# Copie este arquivo para .env e mantenha os valores como estão.
# O script start.sh carregará os valores reais do arquivo .env.secret
# ======================
# Banco de Dados

KEYCLOAK_PORT=8080
POSTGRES_DB=academico
POSTGRES_USER=academico_user
POSTGRES_PASSWORD=123456
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin