# ======================
# Arquivo de exemplo
# Copie este arquivo para .env e mantenha os valores como estão.
# O script start.sh carregará os valores reais do arquivo .env.secret
# ======================
# Banco de Dados
POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

# Keycloak Admin
KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}

# Porta do Keycloak
KEYCLOAK_PORT=8080
