$white: #F8F9FA;
$gray-light: #E9ECEF;
$gray-medium: #DEE2E6;
$gray-dark: #6C757D;
$black-soft: #212529;

$blue-academic: #3A86FF;
$green-success: #4BB543;
$orange-alert: #FF9E1B;
$red-soft: #FF6B6B;
$purple-creative: #8338EC;

$blue-chart: #90E0EF;
$green-chart: #48CAE4;
$purple-chart: #B5179E;
$coral-chart: #F15BB5;
